@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Lato';
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.site-menu {
    display: flex;
    align-items: center;
}

.header-top {
    padding: 35px;
}

.header-top h1 {
    color: white;
    margin: 5px;
    position: absolute;
    left: 10px;
    font-size: 40px;
    font-weight: 400;
}

.site-menu a {
    color: white;
    /* margin: 30px; */
    margin: 0 30px;
    font-family: 'Lato';
    font-size: 15px;
}

.site-menu a:not(:first-child) {
    text-decoration: none;
}

.header-top {
    background-color: #353FD5;
}

.header-bottom {
    background-color: #ECECEC;
    height: 25px;
}

.header-bottom .container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
    position: relative;
}

.header-bottom a {
    color: #353FD5;
    font-size: 15px;
}

.header-bottom .container::after {
    content: "";
    position: absolute;
    left: -13px;
    bottom: -28px;
    border: 13px solid transparent;
    border-top: 20px solid #ECECEC;
}

.main-section .container {
    background-color: #ECECEC;
    height: 500px;
    position: relative;
}

.main-section .border {
    display: flex;
    background-color: #B18753;
    align-items: center;
    margin-top: 25px;
    height: 470px;
    padding: 70px;
    justify-content: space-evenly;
    position: relative;
}



.left-column {

    width: 360px;
    height: 400px;
    flex-direction: column;

}



.left-column h1 {
    color: white;
    font-weight: 400;
    font-size: 50px;
    margin-top: 20px;
}

.left-column p {
    color: white;
    margin-top: 100px;
}

.left-column h3 {
    color: white;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 400;
}

.main-section img {
    width: 600px;
    height: 350px;
    margin-left: 100px;
}

.border::before {
    content: "";
    display: block;
    background: url("../img/left-arrow.png"), #353FD5;
    /* padding: 30px; */
    height: 50px;
    width: 48px;
    background-position: center center;
    background-size: 24px 40px;
    background-repeat: no-repeat;
    position: absolute;
    left: -23px;

}

.border::after {
    content: "";
    display: block;
    background: url("../img/right-arrow.png"), #353FD5;
    /* padding: 30px; */
    height: 50px;
    width: 48px;
    background-position: center center;
    background-size: 24px 40px;
    background-repeat: no-repeat;
    position: absolute;
    right: -23px;
}




/* .main-section .container::after {
    content: "";
    background-color: #353FD5;
    width: 70px;
    height: 5px;
    display: block;
    position: absolute;
    left: 620px;

} */
.slider-control {
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
}
.slider-control span {
    width: 65px;
    height: 5px;
    margin: 0 7px;
    align-items: center;
}
.span-2 {
    background-color: #353FD5;
}
.span-1 {
    background-color: #B5B6B0;

}
.lower-section {
    background-color: #E6E6E6;
    display: flex;

    margin: 40px 0;
    padding: 25px;
}

.lower-section .container {
    display: flex;
    justify-content: center;
}

.card {
    text-align: center;
    background-color: #F2F2F2;
    width: 270px;
    height: 320px;
    padding: 30px;
    margin: 20px;
    position: relative;
}

.card h3 {
    color: #B2854E;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 15px 0;
}


.lower-section .container div::before {
    content: "";
    display: block;
    height: 90px;
    width: 120px;
    margin-bottom: 20px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.lower-section .container div:nth-child(1)::before {
    background-image: url("../img/location.png");
}

.lower-section .container div:nth-child(2)::before {
    background-image: url("../img/cloud.png");
}

.lower-section .container div:nth-child(3)::before {
    background-image: url("../img/building.png");
}

.card p {

    color: black;
    text-align: center;
    font-size: 12px;
}

.lower-section a {

    width: 130px;
    position: absolute;
    bottom: -25px;
    background-color: #B2854E;
    border: none;
    color: white;
    font-size: 15px;
    left: 70px;
    padding: 18px;
    text-decoration: none;
}

footer {
    background-color: #353FD5;
    height: 120px;
    padding: 20px;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}