@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 25px;
}
nav h1 {
    color: white;
    margin: 5px;
    position: absolute;
    left: 10px;
    font-size: 42px;
    font-weight: 400;
}
.site-menu {
    display: flex;
    justify-content: center;
}
.site-menu a{

    color: white;
    margin: 5px;
    font-family: 'Lato';
}
.site-menu a:not(:first-child) {
    text-decoration: none;
}
.header-top {
    background-color: #353FD5;
}
.header-bottom {
    background-color: #ECECEC;
}
.header-bottom a{
    color: #353FD5;
    margin: 5px;
}
