@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.site-menu {
    height: 90px;
    display: flex;
    align-items: center;
}

.header-top h1 {
    color: white;
    margin: 5px;
    position: absolute;
    left: 10px;
    font-size: 40px;
    font-weight: 400;
}

.site-menu a {
    color: white;
    margin: 30px;
    font-family: 'Lato';
    font-size: 15px;
}

.site-menu a:not(:first-child) {
    text-decoration: none;
}

.header-top {
    background-color: #353FD5;
}

.header-bottom {
    background-color: #ECECEC;
    height: 25px;
}

.header-bottom .container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
}

.header-bottom a {
    color: #353FD5;
    font-size: 15px;
}

.main-section .container {
    background-color: #ECECEC;
    height: 500px;
}

.main-section .border {
    display: flex;
    background-color: #B18753;
    align-items: center;
    margin-top: 25px;
    height: 470px;
    padding: 50px;
    justify-content: space-evenly;
}



 .left-column {

    width: 370px;
    height: 400px;
    flex-direction: column;

}



.left-column h1 {
    color: white;
    font-weight: 400;
    font-size: 50px;
    margin-top: 20px;
}

.left-column p {
    color: white;
    margin-top: 100px;
}

.left-column h3 {
    color: white;
    margin-top: 50px;
    font-weight: 400;
}

.main-section img {
    width: 600px;
    height: 350px;
    margin-left: 100px;
}


.lower-section {
    background-color: #E6E6E6;
    display: flex;

    margin-top: 60px;
    padding: 25px;
}

.lower-section .container {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F2F2F2;
    width: 260px;
    height: 300px;
    padding: 10px;
    margin: 20px;
    position: relative;
    margin-bottom: 40px;
}

.title h1 {
    color: #B2854E;
    font-weight: 400;
}

.title p {
    font-size: 10px;
    color: black;
    text-align: center;
    font-size: 13px;
}

.lower-section button {
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: -25px;
    background-color: #B2854E;
    border: none;
    color: white;
    font-size: 15px;
}

.lower-section .container div:nth-child(1) h1::before {
    content: "";
    display: block;
    
    background-image: url("../img/location.png");
    height: 100px;
    width: 100px;
    background-position: center center;
    background-size: cover;

}
